# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kaggle / training
working/
*.pt
*.pth

# Dataset
data/
datasets/

# Model
*.pth
*.pt
weights/
